---
layout: default
---
<div class="well">
    {% if page.subtitle %}
    <h4 class="home-subtitle">{{ page.subtitle }}</h4>
    {% endif %}
    <div>
    	{{ content }}
        
        
        
  <head>
    <link rel="stylesheet" href="../css/grid-gallery.min.css">
  </head>

  <body>

    <div class="content">
      <div class="gg-container">
        <div class="gg-box dark" id="square">
          <img src="../img/11.jpg">
          <img src="../img/12.jpg">
          <img src="../img/13.jpg">
          <img src="../img/14.jpg">
          <img src="../img/15.jpg">
          <img src="../img/16.jpg">
          <img src="../img/17.jpg">
          <img src="../img/18.jpg">
        </div>
      </div>
    </div>

    <script src="../js/grid-gallery.min.js"></script>
    <script>
    gridGallery({
      selector: "#square",
      layout: "square"
    });
    </script>

  </body>

        
        
        
        
        
        
        
        
        
        
        
    </div>
</div>


