---
layout: default
---
<div class="well">
    {% if page.subtitle %}
    <h4 class="home-subtitle">{{ page.subtitle }}</h4>
    {% endif %}
    <div>
    	{{ content }}
        
        
        
  <head>
    <link rel="stylesheet" href="../css/grid-gallery.min.css">
  </head>

  <body>

    <div class="content">
      <div class="gg-container">
        <div class="gg-box dark" id="square">
          <img src="../img/VRC/VRChat_1920x1080_2020-05-23_22-24-36.285.png">
          <img src="../img/VRC/VRChat_1920x1080_2020-05-23_22-27-58.218.png">
          <img src="../img/VRC/VRChat_1920x1080_2020-05-23_22-32-29.693.png">
          <img src="../img/VRC/VRChat_1920x1080_2020-05-23_22-47-43.269.png">

        </div>
      </div>
    </div>

    <script src="../js/grid-gallery.min.js"></script>
    <script>
    gridGallery({
      selector: "#square",
      layout: "square"
    });
    </script>

  </body>

        
        
        
        
        
        
        
        
        
        
        
    </div>
</div>


